django ~> 2.0.8
django-geojson ~> 2.11.0
django-rest-framework ~> 0.1.0
django-split-settings ~> 0.3.0
djangorestframework ~> 3.8.2
djangorestframework-gis ~> 0.13
Pillow ~> 5.2.0
psycopg2-binary ~> 2.7.5
pytz ~> 2018.5
six ~> 1.11.0
