html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
div.disclaimer-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10000;
}
div.disclaimer-modal div.disclaimer {
  padding: 1rem;
  border-radius: 5px;
  background: white;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translateX(-50%) translateY(-50%);
}
div#map {
  width: 100vw;
  height: 100vh;
}
div.legend {
  width: 25vw;
  color: #fff;
  background-color: #fff;
  background-color: rgba(0, 0, 0, 0.62);
}
div.legend div.legend-tabs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
div.legend div.legend-tabs span {
  display: block;
  flex: auto 0 0;
  font: 14px/16px Arial, Helvetica, sans-serif;
  padding: 6px 8px;
}
div.legend div.legend-tabs span.active,
div.legend div.legend-tabs span:hover {
  background-color: white;
  color: #000;
  cursor: pointer;
}
div.legend div.legend-container {
  width: 100%;
  box-sizing: border-box;
  padding: 0 1rem;
}
div.legend div.legend-container > span {
  font: 14px/16px Arial, Helvetica, sans-serif;
}
div.legend div.legend-container div.signatures {
  display: table;
  width: 100%;
}
div.legend div.legend-container div.signatures div.signature {
  width: 100%;
  display: table-row;
}
div.legend div.legend-container div.signatures div.signature svg,
div.legend div.legend-container div.signatures div.signature span {
  display: table-cell;
  vertical-align: middle;
}
div.legend div.stackedChart {
  margin: 0.5rem 1rem;
  clear: both;
  border: 1px solid #fff;
}
div.legend div.stackedChart div {
  float: left;
}
