<!-- TODO: recommended implementation in the future: render the image while the color is changed in admin interface and reference it here via an unique identifier -->
<div class="no-print" id="header">

    <!-- ########################################  HEADER ####################################### -->
    <table style="width:100%;vertical-align:middle;">
        <tr>
            <td style="padding-left:10px; padding-right:10px;width:1%;">
                <a href="/" title="Home"><h1 style="margin:0px;">{{ project_name }}</h1></a>
            </td>

            <td class="projinfo" style="width:90%;padding-left:10px; border-left:1px solid #96E3FF;">
                {{ project_info }}
            </td>
            <td>
                <img src="/static/images/logo_boku_w.png" style="width:100px;height:100px;" />
            </td>
        </tr>
    </table>
</div>

<div class="no-print" style="position:absolute;top:0px;left:0px;"><a href="#" onclick="javascript:DivShowHide('header');"><img src="/static/images/div_hide.png" border="0" /></a></div>