{% extends "styles/"|add:template|add:"/base.html" %}

{% load i18n %}
{% load l10n %}

{% block content %}

<script language="JavaScript">
    // CONFIGURE THINKSPATIAL LEAFLET COMPONENT

    // write basemaps into a javascript array
    var basemaps = {
    {% for basemap in basemaps %}
        {% if not forloop.first %}, {% endif %}
        "{{ basemap.name }}": L.tileLayer("{{ basemap.url_string }}", {
            attribution: "{{ basemap.attribution }}", subdomains: "{{ basemap.subdomains }}",
            zoom_min: {{basemap.zoom_min}}, zoom_max: {{ basemap.zoom_max }},
            type: "{{ basemap.type }}"})
    {% endfor %}
    };

    // write layer information into a javascript array
    var layers = {
    {% for layer in layers %}
        {% if not forloop.first %}, {% endif %}
        {{ layer.id }}: {name: "{{ layer.name }}", type: "{{ layer.type }}" }
    {% endfor %}
    };
    
    var views = {
    {% for layer, views1 in views.items %}
    {% if not forloop.first %}, {% endif %}
    {% for view in views1 %}
    {% if not forloop.first %}, {% endif %}
    {{ view.id }}: {name: "{{ view.name }}", attribute: "{{ view.attribute.name }}", concurrents: {{ view.concurrents_as_json }}, layer: {{ layer.id }}, type: {{ view.signature_type }}, visible: {{ view.visible|lower }},
        signatures: [
            {% for view2, signature1 in signatures.items %}
            {% if view2 == view %}
                {% for signature in signature1  %}
                {% if not forloop.first %}, {% endif %}
                { {% if signature.label is not None %} label: "{{ signature.label }}",{% endif %}
                {% if signature.stroke is not None %} weight: {{ signature.stroke }},{% endif %}
                {% if signature.dash_array is not None %} dashArray: "{{ signature.dash_array }}",{% endif %}
                {% if signature.stroke_color is not None %} color: "{{ signature.stroke_color }}",{% endif %}
                {% if signature.stroke_opacity is not None %} opacity: "{{ signature.stroke_opacity }}",{% endif %}
                {% if signature.fill_color is not None %} fillColor: "{{ signature.fill_color }}",{% endif %}
                {% if signature.fill_opacity is not None %} fillOpacity: {{ signature.fill_opacity }},{% endif %}
                {% if signature.array is not None %} array: {{ signature.array | lower }},{% endif %}
                values: {{ signature.values_as_json | safe }}}
                {% endfor %}
            {% endif %}
            {% endfor %}
        ], defaultView: {{ view.default | lower }}}
    {% endfor %}
    {% endfor %}
    }

    // base settings
    project_id = {{ project_id }};
    map_center = [{{ center_long }}, {{ center_lat }}];
    zoom_min = {{ zoom_min }};
    zoom_max = {{ zoom_max }};
    zoom_default = {{ zoom_default }};

</script>

<!-- displaying an overlay disclaimer and load screen if applicable -->
<!-- TODO: disable/enable based on project and/or deployment settings -->
<div class="disclaimer-modal">
    <div class="disclaimer">
        {% if project_disclaimer %}
        <p>{{ project_disclaimer }}</p>
        {% endif %}
        <progress value="0" max="100"></progress>
    </div>
</div>

<!-- displaying the main map component -->
<div id="map"></div>

<!--
<div style="background-color:#F4FCFF;width:100%">
    <div class="no-print" style="float:right; margin-right:80px;">
        <div class="fb-like" data-href="" data-width="450" data-layout="button_count" data-show-faces="true" data-send="true"></div>
    </div>
</div>

<div id="txtHint"></div>
<div id="ScaleLine"></div>
<div class="no-screen" id="printInfo">Think Spatial! {% trans "map:" %} {{ project_name }} | {% trans "created at:" %} {{ timestamp|localize }}</div>-->
{% endblock %}
